header{
    text-align: center;
    font-size: 1em;
    font-family: 'Permanent Marker', cursive;
}
footer {
  text-align: center;
  font-size: 0.9rem;
  color: gray;
  margin-top: 20px;
}

